@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 75px 0;
}
body{
    font-family: Roboto;
    min-height: 100vh;
    max-width: 1920px;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.header{
    display:flex;
    align-items: center;
    position: relative;
    overflow-y:clip;
    width: 1440px;
    background-color: #030303;
    color: white;
    height: 150px;
}

.header-container{
    width: 1440px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
}
.nav-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
    padding:0;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.logo{
    width: 199px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-image{
    width: 49px;
    height: 26px;
}
.nav{
    width: 775px;
}
.nav-title{
    font-family: Forum;
    font-size: 28px;
    letter-spacing: 5px;
}
.main{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0;
}
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.welcome{
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: clip;
    width: 1440px;
    height: 810px;
    margin-bottom:75px;
}
.welcome-container{
    width: 1440px;
}
.background-black{
    position:absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #030303;
}
.welcome-text{
    position:absolute;
    top:150px;
    z-index: 1;
}
.welcome-title{
    color: white;
    font-family: Forum;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    margin-block: auto;
    display:inline-block;
}
.welcome-subtitle{
    color:white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
    margin:0;
    margin-top: 25px;
}
.welcome-button{
    display:flex;
    justify-content: center;
    align-items: center;    
    height: 75px;
    width: 360px;
    background-color: #710707;
    border-radius: 10px;
    margin-top: 75px;
}
.welcome-link{
    text-decoration: none;
}
.welcome-button-title{
    display: inline-block;
    color: white;
    font-family: roboto;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 100%;
    margin:0;
}
.welcome-slider{
    position:absolute;
    top:0;
    z-index: 0;
    right: 0;
    height: 750px;
}
.slider-image{
    width: 1000px;
    height: 750px;
}
.welcome-slider:after{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: transparent;
    background: linear-gradient(to right,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 50%);
}

.visiting{
    width: 1440px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:63px;
}
.visiting-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
    margin:0;
}
.title-line{
    border:none;
    background-color: #710707;
    height: 3px;
    width: 1440px;
    margin-top: 25px;
    margin-bottom: 75px;
}
.visiting-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.visiting-item{
    display:flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.visiting-item-2{
    margin:0;
}
.visiting-link{
    width: 440px;
    height: 285px;
}
.visiting-image{
    width: 100%;
    height: 100%;
}
.virtual_tour-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin:0;
    margin-top: 26px;
}
.virtual_tour-subtitle{
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin:0;
    margin-bottom: 13px;
}
.virtual_tour-subtitle2{
    font-family: Roboto;
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin:0;
}
.visiting-item-line{
    border:none;
    background-color: #710707;
    width: 300px;
    height: 2px;
    margin: 12px 0;
}
.explore{
    position: relative;
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: clip;
}
.explore-container{
    width: 1440px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.explore-text{
    width: 660px;
}
.explore-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
.explore-line{
    border:none;
    background-color: #710707;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 76px;
}
.explore-subtitle{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 25px;
}
.explore-span{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    color: rgb(202, 170, 125);
}
.explore-slider{
    width: 720px;
    height: 700px;
    margin-top: 15px;
}
.explore-image{
    position: absolute;
    left: 720px;
    width: 720px;
    height: 700px;
}
.video{
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video-text{
    width: 1440px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}
.video-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin:0;
}
.video-subtitle{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 38.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 720px;
    margin:0;
}
.video-image{
    width: 100%;
    height: 100%;
}
.video-link{
    width: 1440px;
    height: 650px;
    position: relative;
}
.video-pause{
    width: 220px;
    height: 220px;
    position: absolute;
    left:610px;
    bottom:215px;
}
.video-control{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 85px;
    background-color: black;
    margin-bottom: 40px;
}
.bar{
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.video-bar{
    width: 924px;
    height: 8px;
    background-color: #C4C4C4;
}
.video-circle{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 491px;
    background: #FFFFFF;
    border-radius: 50px;
}
.video-bar-red{
    height: 100%;
    width: 497px;
    background-color: #710707;
}
.volume-bar{
    align-items: center;
    width: 155px;
    height: 8px;
    background-color: #C4C4C4;
}
.volume-bar-red{
    height:100%;
    width: 67px;
    background-color: #710707;
}
.volume-circle{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 60px;
    background: #FFFFFF;
    border-radius: 50px;
}
.video-frame{
    width: 452px;
    height: 254px;
}
.video-slider-pagination{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 620px;
    margin-top:40px;
}
.video-pagination-circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999999;
}
.gallery{
    position: relative;
    width: 1440px;
    height: 2200PX;
    overflow-y: clip;
}
.gallery-container{
    width: 1440px;
    position:relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-container::after{
    content:"";
    position:absolute;
    margin: 0;
    width: 1440px;
    height: 360px;
    background: #000000;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    top:1765px;
}
.gallery-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
    margin:0;
    margin-bottom: 75px;
}
.grid-container{
    width: 1440px;
    display:grid;
    column-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr;

}
.gallery-grid-1{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 24px;
}
.gallery-grid-2{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 456px 570px 570px;
    gap: 24px;
}
.gallery-grid-3{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 570px 456px 456px;
    gap: 24px;
}
.gallery-image{
    width: 100%;
}
.tickets{
    width: 1440px;
    margin-top: 75px;
}
.tickets-container{
    width: 1440px;
    position:relative;
}
.tickets-title{
    font-family: Forum;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 0;
    margin-top: 2px;
}
.tickets-line{
    width: 100%;
    height: 3px;
    background-color: #710707;
    margin-top: 26px;
    margin-bottom: 77px;
}
.tickets-image{
    width: 720px;
    height: 550px;
}
.tickets-buttons{
    position: absolute;
    height: fit-content;
    top: 1px;
    left: 779px;
}
.tickets-buttons-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 0;
    margin-bottom: 56px;
}
.tickets-choice{
    margin-bottom: 29px;
}
.choice-button{
    height: 17px;
    width: 17px;
    margin: 0;
    margin-right: 19px;

}
.buttons-title{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}
.tickets-amount{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    right: 2px;
    top:1px;
}
.amount-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    margin-bottom: 22px;
    text-align: end;
}
.amount-subtitle{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin:0;
    margin-top: 9px;
    margin-left: 1px;
}
.amount-counter{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 50px;
    border: solid 3px black;
    color: #000000;
    margin-left: 1px;
    margin-top: 16px;
    margin-bottom: 4px;
}
.counter-minus{
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 10px;
}
.counter-plus{
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 36px;
}
.counter-number{
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 35px;
}
.amount-result{
    display: flex;
    margin-top: 48px;
    margin-left: 1px;
}
.amount-title-2{
    white-space: nowrap;
    font-family: Roboto;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 1.65px;
    margin: 0;
}
.tickets-buy-button{
    position: absolute;
    right: 0;
    top:393px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    background-color: #000000;
}
.buy-button-text{
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2px;
}




.footer{
    justify-self: flex-end;
    position: relative;
    width: 1440px;
    overflow-y: clip;
    color:white;
}
.footer-container{
    position:relative;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    margin: 0;
}
.footer-logo{
    width: 195px;
    height: 50px;
}
.footer-navigation{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 128px;
    width: 363px;
    margin-top: 87px;
    top:0;
    left:340px;
}
.footer-list{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
    height: 128px;
    margin:0;
}
.footer-link{
    text-decoration: none;
    line-height: 100%;
    color: white;
}
.footer-socials{
    margin-top: 162px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:340px;
}
.socials-image{
    width: 48px;
    height: 48px;
}
.footer-line{
    flex-shrink: 0;
    width: 1440px;
    height: 3px;
    background-color: #666666;
    margin: 50px 0;
}
.footer-last_string{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-last-paragraph{
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}


